<!DOCTYPE html> 
<html> 
	<head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">
        
        <style>
            body{
                background-color: rgb(245, 245, 245);
            }
        </style>
        <title> Build Rest API </title> 
        
	</head> 
	    <div class="row mt-5" >
            <div class="col-md-6 m-auto">
              <div class="card card-body text-center">
                <h1>Build API</h1>
                <form action="/buildAPI" method="POST">
                 <!-- Material input -->
                <div class="md-form">
                    <input type="text" id="form1" class="form-control" name="name" required> 
                    <label for="form1">Name</label>
                </div>
                <!-- Material input -->
                <div class="md-form">
                    <input type="text" id="form2" class="form-control" name="gender" required>
                    <label for="form2">Gender</label>
                </div>
                <!-- Material input -->
                <div class="md-form">
                    <input type="number" id="form3" class="form-control" name="age" required>
                    <label for="form3">Age</label>
                </div>
                <!-- Material input -->
                <div class="md-form">
                    <input type="number" id="form3" class="form-control" name="date" required>
                    <label for="form3">date</label>
                </div>
                <!-- Material input -->
                <div class="md-form">
                    <input type="text" id="form5" class="form-control" name="status" required>
                    <label for="form5">Status</label>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
                <a href="/fetchBuildAPI" class="btn btn-default"> view API data</a>
                <a href="/" class="btn btn-secondary"> Home</a>
                </form>
              </div>
            </div>
          </div>
          
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>
	</body> 
</html>					 
